.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

@media #{$small-bp} {
    .hidden-small {
        display: none !important;
    }
}

@media #{$medium-bp} {
    .hidden-medium {
        display: none !important;
    }
}

@media #{$large-bp} {
    .hidden-large {
        display: none !important;
    }
}

@media #{$xlarge-bp} {
    .hidden-x-large {
        display: none !important;
    }
}
